header {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-image:
            linear-gradient(
                    to right,
                    hsla(0, 0%, 0%, 0.78) 0%,
                    hsla(0, 0%, 3.78%, 0.772) 13.5%,
                    hsla(0, 0%, 7.39%, 0.75) 24.9%,
                    hsla(0, 0%, 10.81%, 0.715) 34.5%,
                    hsla(0, 0%, 14.05%, 0.671) 42.5%,
                    hsla(0, 0%, 17.09%, 0.618) 49.3%,
                    hsla(0, 0%, 19.92%, 0.56) 54.9%,
                    hsla(0, 0%, 22.54%, 0.499) 59.8%,
                    hsla(0, 0%, 24.94%, 0.436) 64.1%,
                    hsla(0, 0%, 27.09%, 0.374) 68.1%,
                    hsla(0, 0%, 29%, 0.314) 72.1%,
                    hsla(0, 0%, 30.63%, 0.261) 76.2%,
                    hsla(0, 0%, 31.98%, 0.214) 80.9%,
                    hsla(0, 0%, 33.01%, 0.177) 86.2%,
                    hsla(0, 0%, 33.69%, 0.151) 92.5%,
                    hsla(0, 0%, 34%, 0.14) 100%
            ), var(--img-headcover);

    background-size: cover;
    background-position: center;
    color: white;
}


header > h1 {
    font-size: 5rem;
    max-width: 70vw;
    margin: 0 6rem;
}


#main {
    max-width: 700px;
    margin: 0 auto 120px auto;
}

@media screen and (width < 1000px) {
    #main {
        margin: 0 3rem;
    }
    header {
        justify-content: center;
        align-items: flex-end;
        background-image:
                linear-gradient(
                        to top,
                        hsla(0, 0%, 0%, 0.78) 0%,
                        hsla(0, 0%, 3.78%, 0.772) 13.5%,
                        hsla(0, 0%, 7.39%, 0.75) 24.9%,
                        hsla(0, 0%, 10.81%, 0.715) 34.5%,
                        hsla(0, 0%, 14.05%, 0.671) 42.5%,
                        hsla(0, 0%, 17.09%, 0.618) 49.3%,
                        hsla(0, 0%, 19.92%, 0.56) 54.9%,
                        hsla(0, 0%, 22.54%, 0.499) 59.8%,
                        hsla(0, 0%, 24.94%, 0.436) 64.1%,
                        hsla(0, 0%, 27.09%, 0.374) 68.1%,
                        hsla(0, 0%, 29%, 0.314) 72.1%,
                        hsla(0, 0%, 30.63%, 0.261) 76.2%,
                        hsla(0, 0%, 31.98%, 0.214) 80.9%,
                        hsla(0, 0%, 33.01%, 0.177) 86.2%,
                        hsla(0, 0%, 33.69%, 0.151) 92.5%,
                        hsla(0, 0%, 34%, 0.14) 100%
                ), var(--img-headcover);
    }

    header > h1 {
        margin: 2rem 0;
        text-align: center;
        font-size: clamp(8vw,3.5rem,5rem);
    }
}

#main > * {
    width: 100%;
}

#main > img {
    margin: 1.5rem 0;
    border: 2px solid black;
    box-shadow: 4px 4px 0 0 var(--accent-primary);
}